extends layout

block content
 section.jumbotron.text-center
   .container
    p
     a.btn.btn-primary.my-2(href="#") Записатися
     span &nbsp;
     a.btn.btn-secondary.my-2(href="#") Назад
     
 .container
  .container
   .btn-group(role="group", aria-label="Basic example")
    button.btn.btn-secondary(type="button") 1
    button.btn.btn-secondary(type="button") 2
    button.btn.btn-secondary(type="button") 3
    button.btn.btn-secondary(type="button") 4
    button.btn.btn-secondary(type="button") 5
   
   .row
    .col-sm 
     img.img-thumbnail(src="...", alt="...")
    .col-sm One of three columns

