doctype html
html(ng-app='HikingInMountains')
 head
  meta(name='viewport', content='width=device-width,initial-scale=1.0')
  title= title
  link(rel="stylesheet", href="stylesheets/bootstrap.css")
  link(rel="stylesheet", href="stylesheets/jquery.minical.plain.css")
 body
  header
   .collapse.bg-dark#navbarHeader
    .container
      .row
        .col-sm-8.col-md-7.py-4
          h4.text-white Про нас
          p.text-muted ...
        .col-sm-4.offset-md-1.py-4
          .text-white Меню
          ul.list-unstyled
            li
             a.text-white(href="Route.html") Маршрути
            li
             a.text-white(href="Rent.html") Прокат спорядження
            li
             a.text-white(href="Report.html") Звіти з походів
            li
             a.text-white(href="Contact.html") Контакти
            li
             .text-white#AuthorizationModal Авторизація

   .navbar.navbar-dark.bg-dark.shadow-sm
    .container.d-flex.justify-content-between
      a.navbar-brand.d-flex.align-items-center(href="#")
        img(src="images/icon1.jpg", alt="...")
        strong &nbsp;Наш турклуб)
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarHeader", aria-controls="navbarHeader", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon

   block content
    
   footer.text-muted
    .container
     p.float-right
      a(href="#") Наверх
     p Сайт розробив Єгор Нікуліцов &copy;

.modal#myModal(tabindex="-1", role="dialog")
    .modal-dialog(role="document")
        .modal-content
            .modal-header
                h5.modal-title Авторизація
            .modal-body.text-center
                #formA
                  .form-group
                    label(for="Email") Email address
                    input.form-control#Email(type="email" aria-describedby="emailHelp")
                    small.form-text.text-muted#emailHelp We'll never share your email with anyone else.
                  .form-group
                    label(for="Password") Password
                    input.form-control#Password(type="password")
                  button.btn.btn-primary#Authorization(type="submit") Авторизуватися
                .spinner-border#download(role="status")
                    span.sr-only Завантаження...
                .alert.alert-danger#e_alert(role="alert") Відмова у доступі (Вікно закриється автоматично через 2 секунди)
                .alert.alert-success#s_alert(role="alert") Ласкаво просимо

    script(src="javascripts/jquery-3.2.1.js")
    script(src="javascripts/Front.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js", integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut", crossorigin="anonymous")
    script(src="javascripts/bootstrap.bundle.js")
