mixin outputRating(rating)
    - for (var i = 1; i <= rating; i++)
    span.glyphicon.glyphicon-star
    - for (var i = rating; i < 5; i++)
    span.glyphicon.glyphicon-star-empty
    
mixin formatDateEN(dateString)
    -var date = new Date(dateString);
    -var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "Septemder", "October", "November", "December"];
    -var d = date.getDate();
    -var m = monthNames[date.getMonth()];
    -var y = date.getFullYear();
    -var output = d + ' ' + m + ' ' + y;
    =output
    
mixin calendarItemEN(month, year) 
    -var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "Septemder", "October", "November", "December"];
    -var output = monthNames[month] + " " + year;
    =output
    
mixin calendarItem(month, year) 
    -var monthNames = ["Січень", "Лютий", "Березень", "Квітень", "Травень", "Червень", "Липень", "Серпень", "Вересень", "Жовтень", "Листопад", "Грудень"];
    -var output = monthNames[month] + " " + year;
    =output
    
 mixin formatDate(date, days)
    -var d = date.getDate();
    -var m = date.getMonth() + 1;
    -var y = date.getFullYear();
    -var output1 = d + '.' + m + '.' + y;
    -if (d + days > 31 && (m == 1 || m == 3 || m == 5 || m == 7 || m == 8 || m == 10 || m == 12)) {
        - d = 31 - d + days;    
        -m++;} 
    -else {
        -if (d + days > 30 && (m == 4 || m == 6 || m == 9 || m == 11)) {
            - d = 30 - d + days;
            -m++;}
        -else {
            -if (d + days > 28 && m == 2) {
                - d = 28 - d + days;
                -m++;}
            -else {
                -d = d + days;}}}
    -if (m > 12) {
        -m = 1;
        -y++;}
    -var output = output1 + ' - ' + d + '.' + m + '.' + y;
    =output